@counter-style arrow {
  system: cyclic;
  symbols: ">>";
  suffix: " ";
}

body {
  /* background-color: #000; */
  background-image: url(/images/xmas-bckg.jpg);
  /* color:#32cd32; */
  color: #ff0000;
  text-align: center;
  color: #ff0000;
  font-family: monospace;
  font-size: 16;
}

a {
  /* color:#32cd32 */
  color: #ea3807;
}


.welcome.stuff {
  list-style-type: arrow;
  font-size: 20;
}

.welcome.box {
  float: left;
  width: 50%;
  /* background-color: #0d0d0d; */
  text-align: center;

  /* border-width: 5px; */
}

.welcome.wip {
  float: right;
  width: 40%;
  /* background-color: #0d0d0d; */
  text-align: center;
}
.updates {
  float: inline-start;
  width: 50%;
  background-color: rgba(0,0,0,0.5);
  font-family: monospace;
  padding-left: 19px;
  color: #32cd32;
}

.clock {
  position:absolute;
  width: 20%;
  height: 20%;
}

.titlebar {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* background-color: #0d0d0d;   */
  background-color: rgba(0,0,0,0.5);
  background-color: transparent;
  /* color: #32cd32; */
  color: #ea3807;
  font-size: 20px;
  font-family: monospace;
}

.titlebar.btn {
  animation: glitch 2.5s linear infinite;
  font-family: "Rubik", monospace;
  float: left;
  display: block;
  padding: 8px;
}

.funky {
  animation: glitch 3s linear infinite;
}
.funky:before,
.funky:after {
  content: attr(title);
  position: absolute;
  left: 0;
}
.funky:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
.funky:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}



@keyframes glitch {

  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchTop {

  2%,
  64% {
    transform: translate(2px, -2px);
  }

  4%,
  60% {
    transform: translate(-2px, 2px);
  }

  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchBotom {

  2%,
  64% {
    transform: translate(-2px, 0);
  }

  4%,
  60% {
    transform: translate(-2px, 0);
  }

  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
