@counter-style arrow {
  system: cyclic;
  symbols: " ";
  suffix: " ";
}
@import url(https://fonts.googleapis.com/css?family=Khula:700);

body {
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100vh;
  color:#32cd32;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}
::selection {
  background: #0080FF;
  text-shadow: none;
}

a {
  /* color:#32cd32 */
  color: #24ec24;
}

li {
  list-style-type: arrow;
}

section {
  overflow: hidden;
  /* background-color: rgba(0,0,0,0.5); */
}

.skills {
  text-align: center;
}
.skills.li {
  font-size: 20;
  background-color: transparent;
  text-align: center;
}

.updates {
  color: #32cd32;
}


.titlebar {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* background-color: #0d0d0d;   */
  background-color: rgba(0,0,0,0.5);
  background-color: transparent;
  /* color: #32cd32; */
    color: #24ec24;
  font-size: 20px;
  font-family: monospace;
}

.titlebar.btn {
  animation: glitch 2.5s linear infinite;
  font-family: "Rubik", monospace;
  float: left;
  display: block;
  padding: 8px;
}

.funky {
  animation: glitch 3s linear infinite;
}
.funky:before,
.funky:after {
  content: attr(title);
  position: absolute;
  left: 0;
}
.funky:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
.funky:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}



@keyframes glitch {

  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchTop {

  2%,
  64% {
    transform: translate(2px, -2px);
  }

  4%,
  60% {
    transform: translate(-2px, 2px);
  }

  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchBotom {

  2%,
  64% {
    transform: translate(-2px, 0);
  }

  4%,
  60% {
    transform: translate(-2px, 0);
  }

  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
